<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../../favicon.ico" rel="icon">
    <title><%= title %></title>
    <script src="/build/profile.bundle.js"></script>
</head>

<body>
<% include ./layout/header.html %>

<div class="container-fluid new-bgcolor" role="main">
    <div class="row new-view-title">
        <div class="col-md-12">
            <div class="form-group">
                <h3><strong>個人資料修改</strong></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/profile/edit" id="profile-edit-form" method="POST"
                  onsubmit="return window.validateUserInfo();" autocomplete="off">
                <input id="uf_id" name="id" type="hidden" value="<%= user._id %>">
                <!-- Grid row -->
                <div class="form-row">

                    <div class="col-md-6" style="text-align: center;">
                        <img style="border-radius:30px;width:300px;height:300px;" src="/logo.png"/>
                    </div>

                    <!-- Grid column -->
                    <div class="col-md-6">

                        <div class="col">
                            <div class="form-group">
                                <label for="uf_username">帳號</label>
                                <input class="form-control" id="uf_username" name="loginID" readonly
                                       type="text" value="<%= user.loginID %>">
                            </div>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="uf_name">使用者名稱<span class="text-danger">*</span></label>
                                <input class="form-control" id="uf_name" name="userName" required
                                       type="text" value="<%= user.userName %>">
                            </div>
                        </div>
                        <!-- Grid column -->


                        <!-- Grid column -->
                        <div class="col">
                            <!-- Default checked -->
                            <div class="form-group">
                                <div class="form-group w-100">
                                    <label for="uf_roles">角色<span class="text-danger">*</span></label>
                                    <input class="form-control" id="uf_roles" readonly type="text"
                                           value="<%= roleName %>">
                                </div>
                            </div>
                        </div>

                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="password">密碼</label>
                                <input class="form-control" id="password" name="password" value=''
                                       autocomplete="new-password" type="password">
                            </div>
                        </div>

                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="confirm_password">確認密碼</label>
                                <input class="form-control" id="confirm_password" name="confirm_password" value=''
                                       autocomplete="new-password" type="password">
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="uf_email">電子信箱</label>
                                <input class="form-control" id="uf_email" name="email" type="text"
                                       value="<%= user.email %>">
                            </div>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="uf_phone">電話</label>
                                <input class="form-control" id="uf_phone" name="tel" required
                                       type="text" value="<%= user.tel %>">
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="uf_job_title">職稱</label>
                                <input class="form-control" id="uf_job_title" name="title" type="text"
                                       value="<%= user.title %>">
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="uf_department">部門</label>
                                <input class="form-control" id="uf_department" name="dept" type="text"
                                       value="<%= user.dept %>">
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="uf_line">line權杖</label>
                                <input class="form-control" id="uf_line" name="line_token" type="text"
                                       value="<%= user.line_token %>">
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="form-row text-right">
                    <!-- Grid column -->
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-md" id='user-edit-submit' type="submit">
                            <i aria-hidden="true" class="fa fa-check mr-3"></i>送出
                        </button>
                        <a href="/profile" class="btn btn-info btn-md">
                            <i aria-hidden="true" class="fa fa-undo fa-lg mr-3"></i>重設
                        </a>
                    </div>
                    <!-- Grid column -->
                </div><BR>
                <!-- Grid row -->
            </form>
        </div>
    </div>
</div>
</body>

</html>
