<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../../favicon.ico" rel="icon">

    <script src="/dist/js/chart.min.js"></script>
    <link href="/dist/css/chart.css" rel="stylesheet"/>
    <script src="/build/chart.bundle.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

</head>

<body>
<% include ./layout/header.html %>
<main role="main" class="container-fluid new-bgcolor">
<div class="row new-view-title">
    <div class="col-md-12">
        <div class="form-group">
            <h3><strong>週期統計圖表</strong></h3>
        </div>
    </div>
</div>
<div class="new-bgcolor new-view-title row" id="datediv">
    <div class="col-md-4" style="text-align: center;vertical-align: center;">
        Date: <div id="datepicker"></div>
        
        <label class="control-label">開始日期</label>
        <input id="startmonth" type="date" value="<%= moment().startOf('month').format('YYYY-MM-DD') %>">
        <label class="control-label">結束日期</label>
        <input id="endmonth" type="date" value="<%= moment().endOf('month').format('YYYY-MM-DD') %>">
        <div>
            <form id="dateroute" name="dateroute">
                <label class="control-label">週期選擇</label>
                <label><input name="dateselect" type="radio" value="year">年</label>
                <label><input name="dateselect" type="radio" value="month">月</label>
                <label><input name="dateselect" type="radio" value="week">週</label>
                <label><input name="dateselect" type="radio" value="day">日</label>
                <input class="btn btn-primary" id="checkdate" type="button" value="確認">
                <input class="btn btn-danger" onclick="window.location.reload();$('#graph-container').hide();" type="button" value="清空資料">
            </form>
        </div>
    </div>
    <div class="col-md-8" align="right">
        <div class="container" id="graph-container" style="position: relative;display: none;background-color: #ffffff;">
            <canvas style="position: relative;" id="myChart"></canvas>
        </div>
    </div>
</div>
</main>

</body>
<script>
    $( function() {
        $( "#datepicker" ).datepicker();
    } );
</script>
</html>
