<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title><%= title %></title>
    <script src="/build/user_edit.bundle.js"></script>
</head>

<body>
<% include ../layout/header.html %>

<main role="main" class="container-xl new-bgcolor">
    <div class="row new-view-title">
        <div class="col-md-12">
            <div class="form-group">
                <h3><strong>編輯使用者帳號</strong></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/user/edit" id="user-edit-form" method="POST"
                  onsubmit="return window.validateUserInfo();" autocomplete="off">
                <input type="hidden" id="uf_id" name="id" value="<%= user._id %>">
                <!-- Grid row -->
                <div class="form-row">

                    <div class="col-md-6" style="text-align: center;">
                        <img style="border-radius:30px;width:300px;height:300px;" src="/logo.png"/>
                    </div>

                    <div class="col-md-6">
                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="uf_username">帳號</label>
                                <input type="text" id="uf_username" class="form-control" value="<%= user.loginID %>"
                                       name="loginID" readonly>
                            </div>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="uf_name">使用者名稱<span class="text-danger">*</span></label>
                                <input type="text" id="uf_name" class="form-control" name="userName"
                                       value="<%= user.userName %>" required>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <div class="col">
                            <!-- Default checked -->
                            <div class="form-group">
                                <div class="form-group w-100">
                                    <label for="uf_roles">角色<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="uf_roles" value="<%= roleName %>"
                                           readonly required>
                                    <input type="text" class="form-control" id="roles" name="roles"
                                           value="<%= userRoles %>" style='display: none;' readonly required>
                                    <a id="selectRole" class="btn btn-sm btn-info"
                                       style="margin-top: 8px; font-size: 16px; height:38px;">
                                        <i aria-hidden="true" class="fa fa-user fa-lg mr-2"></i>選擇角色
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="password">密碼</label>
                                <input id="password" class="form-control" name="password" value=''
                                       autocomplete="new-password" type="password">
                            </div>
                        </div>

                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="confirm_password">確認密碼</label>
                                <input id="confirm_password" class="form-control" value='' name="confirm_password"
                                       autocomplete="new-password" type="password">
                            </div>
                        </div>
                        <!-- Grid column -->


                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="uf_email">電子信箱</label>
                                <input type="text" id="uf_email" class="form-control" value="<%= user.email %>"
                                       name="email">
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="uf_phone">電話</label>
                                <input type="text" id="uf_phone" class="form-control" name="tel" value="<%= user.tel %>"
                                       required>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="uf_job_title">職稱</label>
                                <input type="text" id="uf_job_title" class="form-control" value="<%= user.title %>"
                                       name="title">
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="uf_department">部門</label>
                                <input type="text" id="uf_department" class="form-control" value="<%= user.dept %>"
                                       name="dept">
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <div class="form-group">
                                <label for="uf_line">line權杖</label>
                                <input class="form-control" id="uf_line" name="line_token"
                                       value="<%= user.line_token %>"
                                       type="text">
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>

                <!-- Grid row -->
                <div class="form-row text-right">
                    <!-- Grid column -->
                    <div class="col-md-12">
                        <button id='user-edit-submit' type="submit" class="btn btn-primary btn-md">
                            <i class="fa fa-check mr-3" aria-hidden="true"></i>送出
                        </button>
                        <a href="/user" class="btn btn-danger btn-md">
                            <i class="fa fa-times fa-lg mr-3" aria-hidden="true"></i>取消
                        </a>
                    </div>
                    <!-- Grid column -->
                </div>
                <br>
                <!-- Grid row -->
            </form>
        </div>
    </div>
</main>

<!-- selectRole Modal -->
<div class="modal fade" id="selectRoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">
                    <font size="6" face="微軟正黑體"><strong>選擇角色</strong></font>
                </h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <!-- <label for="roleOptList">角色</label> -->
                        <div id='roleOptList' class="form-group">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <button id="confirm" type="button" class="btn btn-primary">確定</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>
