<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= title %></title>
    <script src="/build/pro.bundle.js"></script>
</head>

<body>
<% include ../layout/header.html %>
<div style="display: none;">
    <input class="form-control" id="loginID" readonly type="text" value="<%= loginID %>">
    <input class="form-control" id="errorMessage" readonly type="text" value="<%= errorMessage %>">
</div>
<main role="main" class="container-fluid new-bgcolor">
    <div class="row new-view-title">
        <div class="col-md-12">
            <div class="form-group">
                <h3><strong>聲紋特徵分析系統-分娩資料庫管理</strong></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="pro_list" class="table table-striped table-bordered new-table-bgcolor" style="width: 100%">
                    <thead>
                    <tr>
                        <th>分娩日期時間標記</th>
                        <th>母牛編號標記</th>
                        <th>分娩頭數標記</th>
                        <th>分娩難易度標記</th>
                        <th>單日事件紀錄</th>
                        <th>音檔名稱</th>
                        <th>麥克風編號</th>
                        <th>開始音檔_時間</th>
                        <th>結束音檔_時間</th>
                        <th>功能</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
<% include ./modals/delete.html %>
</html>
