<!-- Modal -->
<div aria-hidden="true" aria-labelledby="farm-event-a-modal" class="modal fade" id="farm-event-a-modal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="farm-event-a-modal-title">選取分娩事件之音檔</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-9">
                        <% for (var i = 0; i < fileList.length; i++) { %>
                            <div class="custom-control custom-radio">
                            <input class="custom-control-input" id="audio_<%= fileList[i] %>" name="audio_file_name"
                                   type="radio" value="<%= fileList[i] %>">
                            <label class="custom-control-label" for="audio_<%= fileList[i] %>">麥克風 <%= String.fromCharCode(fileList[i].substring(fileList[i].length - 4, fileList[i].length - 5).charCodeAt()-48)%></label>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="farm-event-a-modal-submit" type="button">標記分娩事件</button>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">取消</button>
            </div>
        </div>
    </div>
</div>
