<link rel="stylesheet" href="../css/navbar-fixed-left.min.css">
<style>
    .new-bgcolor {
        background-color: #FFFCE6;
        height: 100%;
    }

    .bg-active {
        background-color: #FFFCE6;
    }

    @media (min-width: 320px) {
        .new-view-title {
            padding-top: 50px;
            vertical-align: center;
        }
    }

    @media (min-width: 768px) {
        .new-view-title {
            padding-top: 50px;
            vertical-align: center;
        }
    }

    .new-padding-left {
        padding-left: 30px;
    }

    .new-table-bgcolor {
        background-color: #ffffff;
    }
</style>


<div id="mainpage">
    <div class="container-fluid fixed-top bg-white navbar-light">
        <div class="row">
            <div class="col-12 text-left" style="font-size: 30px;word-wrap:break-word;">
                母牛分娩之環控設施自動感知及難產聲音追蹤監控系統
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-light fixed-left bg-white" style="margin-top: 50px;overflow: auto;">
        <div style="text-align: center;width: 100%;">
            <a class="navbar-brand" href="/"><img height="150" src="/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-link disabled" href="javascript:void(0)"
                   style="color: #707070;font-size: 20px;text-decoration: underline;"><%= userName %> [<%= role %>]</a>

                <% if(permissions.includes('/farm')){ %>
                <a class="nav-item nav-link <% if (active == '/farm') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/farm">分娩事件管理</a>
                <% } %>

                <% if(permissions.includes('/pro')){ %>
                <a class="nav-item nav-link <% if (active == '/pro') { %> active bg-active <% } %>"
                   style="padding-left: 25px;" href="/pro">聲紋特徵分析系統</a>
                <% } %>

                <% if(permissions.includes('/audioplayback')){ %>
                <a class="nav-item nav-link <% if (active == '/audioplayback') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/audioplayback">剪輯音檔紀錄</a>
                <% } %>

                <% if(permissions.includes('/audio')){ %>
                <a class="nav-item nav-link <% if (active == '/audio') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/audio">原始音檔管理</a>
                <% } %>

                <% if(permissions.includes('/report')){ %>
                <a class="nav-item nav-link <% if (active == '/report') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/report">週期統計圖表</a>
                <% } %>

                <% if(permissions.includes('/temperature')){ %>
                <a class="nav-item nav-link <% if (active == '/temperature') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/temperature">溫溼度列表</a>
                <% } %>

                <% if(permissions.includes('/live')){ %>
                <a class="nav-item nav-link <% if (active == '/live') { %> active bg-active <% } %>"
                   style="padding-left: 25px;" href="/live">即時預覽頁面</a>
                <% } %>

                <% if(permissions.includes('/alarmrecord')){ %>
                <a class="nav-item nav-link <% if (active == '/alarmrecord') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/alarmrecord">警示紀錄</a>
                <% } %>

                <% if(permissions.includes('/audioClassManage')){ %>
                <a class="nav-item nav-link <% if (active == '/audioClassManage') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/audioClassManage">音檔分類管理</a>
                <% } %>
            </div>
            <div class="navbar-nav" style="padding-top: 50px;">
                <a class="nav-item nav-link <% if (active == '/profile') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/profile">個人資料修改</a>
                <% if(permissions.includes('/backstage')){ %>
                <a class="nav-item nav-link <% if (active == '/backstage') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/backstage">後台管理</a>
                <% } %>
                <% if(permissions.includes('/role')){ %>
                <a class="nav-item nav-link <% if (active == '/role') { %> active bg-active <% } %>"
                   style="padding-left: 25px;" href="/role">角色權限管理</a>
                <% } %>

                <% if(permissions.includes('/user')){ %>
                <a class="nav-item nav-link <% if (active == '/user') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/user">使用者帳號管理</a>
                <% } %>
                <br><br>
                <a class="btn btn-secondary" href="/signout">登出</a>
            </div>
        </div>
    </nav>
</div>


<div id="subpage">

    <nav class="navbar navbar-expand-md navbar-light fixed-left bg-white" style="margin-top: 34px;">
        <a class="navbar-brand" href="/">
            <img height="30" src="/logo.png">母牛分娩之環控設施自動感知及難產聲音追蹤監控系統
        </a>
        <button class="navbar-toggler" data-target="#navbarCollapse" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a class="nav-link disabled" href="javascript:void(0)"
                   style="color: #707070;font-size: 20px;text-decoration: underline;"><%= userName %> [<%= role %>]</a>

                <% if(permissions.includes('/farm')){ %>
                <a class="nav-item nav-link <% if (active == '/farm') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/farm">分娩事件管理</a>
                <% } %>

                <% if(permissions.includes('/pro')){ %>
                <a class="nav-item nav-link <% if (active == '/pro') { %> active bg-active <% } %>"
                   style="padding-left: 25px;" href="/pro">聲紋特徵分析系統</a>
                <% } %>

                <% if(permissions.includes('/audioplayback')){ %>
                <a class="nav-item nav-link <% if (active == '/audioplayback') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/audioplayback">剪輯音檔紀錄</a>
                <% } %>

                <% if(permissions.includes('/audio')){ %>
                <a class="nav-item nav-link <% if (active == '/audio') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/audio">原始音檔管理</a>
                <% } %>

                <% if(permissions.includes('/report')){ %>
                <a class="nav-item nav-link <% if (active == '/report') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/report">週期統計圖表</a>
                <% } %>

                <% if(permissions.includes('/temperature')){ %>
                <a class="nav-item nav-link <% if (active == '/temperature') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/temperature">溫溼度列表</a>
                <% } %>

                <% if(permissions.includes('/live')){ %>
                <a class="nav-item nav-link <% if (active == '/live') { %> active bg-active <% } %>"
                   style="padding-left: 25px;" href="/live">即時預覽頁面</a>
                <% } %>

                <% if(permissions.includes('/alarmrecord')){ %>
                <a class="nav-item nav-link <% if (active == '/alarmrecord') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/alarmrecord">警示紀錄</a>
                <% } %>

                <% if(permissions.includes('/audioClassManage')){ %>
                <a class="nav-item nav-link <% if (active == '/audioClassManage') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/audioClassManage">音檔分類管理</a>
                <% } %>


            </div>
            <div class="navbar-nav" style="padding-top: 50px;">
                <a class="nav-item nav-link <% if (active == '/profile') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/profile">個人資料修改</a>
                <% if(permissions.includes('/backstage')){ %>
                <a class="nav-item nav-link <% if (active == '/backstage') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/backstage">後台管理</a>
                <% } %>
                <% if(permissions.includes('/role')){ %>
                <a class="nav-item nav-link <% if (active == '/role') { %> active bg-active <% } %>"
                   style="padding-left: 25px;" href="/role">角色權限管理</a>
                <% } %>

                <% if(permissions.includes('/user')){ %>
                <a class="nav-item nav-link <% if (active == '/user') { %> active bg-active <% } %>"
                   style="padding-left: 25px;"
                   href="/user">使用者帳號管理</a>
                <% } %>

                <a class="nav-item nav-link" href="/signout">登出</a>
            </div>
        </div>
    </nav>
</div>
<script>
    start();
    window.addEventListener('resize', start);

    function start() {
        if (document.documentElement.clientWidth < 768) {
            // console.log("W:" + document.documentElement.clientWidth + " ,H:" + document.documentElement.clientHeight);
            document.getElementById('mainpage').style.display = 'none';
            document.getElementById('subpage').style.display = '';
        } else {
            document.getElementById('subpage').style.display = 'none';
            document.getElementById('mainpage').style.display = '';
        }
    }
</script>
