<!-- Modal -->
<div aria-hidden="true" aria-labelledby="farm-event-d-modal" class="modal fade" id="farm-event-d-modal" role="dialog"
	tabindex="-1">
	<div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="farm-event-a-modal-title">確定刪除事件</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
			<div class="modal-body">
				<div class="form-row">
					<div class="custom-control custom-radio">
						<p>刪除事件將會刪除該事件關聯的音檔<br>仍要刪除事件？</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" id="farm-event-d-modal-submit" data-dismiss="modal" type="button">確定</button>
				<button class="btn btn-secondary" id="farm-event-d-modal-cancel" data-dismiss="modal" type="button">取消</button>
			</div>
		</div>
	</div>
</div>