<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../../favicon.ico" rel="icon">

    <title><%= title %></title>

    <script src="/dist/js/pace.min.js"></script>
    <link href="/dist/css/pace.css" rel="stylesheet" />
    <script src="/build/audioClassManage_create.bundle.js"></script>
</head>

<body>
    <% include ../layout/header.html %>

    <main class="container-xl" role="main">
        <div class="row">
            <div class="col-md-12">
                <form id="eventACreateForm" action="/audioClassManage/createEventA" class="form-horizontal" method="POST">
                    <div style="display: none;">
                        <input class="form-control" name="createdAuthor" readonly type="text" value="<%= loginID %>">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h3><strong>新增音檔分類管理</strong></h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" id="Name_Title">名稱<span class="text-danger">*</span></label>
                                <input class="form-control" id="Name" name="Name" required type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="filePath" id="filePath_Title">路徑<span class="text-danger">*</span></label>
                                <input class="form-control" id="filePath" name="filePath" required type="text">
                            </div>
                        </div>
                    </div>

                    <div class="form-row text-right">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <input class="btn btn-info" id="reset" type="button" value="重設">
                            <input class="btn btn-primary" type="submit" value="確定新增">
                            <a class="btn btn-danger btn-md" href="/audioClassManage">取消</a>
                        </div>
                        <!-- Grid column -->
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>
