<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../../favicon.ico" rel="icon">

    <title><%= title %></title>

    <script src="/build/audioClassManage_edit.bundle.js"></script>
</head>

<body>
    <% include ../layout/header.html %>

    <main class="container-xl" role="main">
        <div class="row">
            <div class="col-md-12">
                <form action="/audioClassManage/updateEventA" class="form-horizontal" id="eventForm" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h3><strong>編輯音檔分類管理</strong></h3>
                            </div>
                        </div>
                    </div>
                    <div style='display: none;'>
                    <!-- <div> -->


                        <input class="form-control" id="tmpName" name="tmpName" readonly type="text"
                            value="<%= datarow.Name %>">
                        <input class="form-control" id="tmpfilePath" name="tmpfilePath" readonly type="text"
                            value="<%= datarow.filePath %>">


                        <input class="form-control" id="userName" name="lastModifiedAuthor" readonly type="text"
                            value="<%= userName %>">


                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" id="Name_Title">名稱<span class="text-danger">*</span></label>
                                <input class="form-control" id="Name" name="Name"   value="<%= datarow.Name %>" required type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="filePath" id="filePath_Title">路徑<span class="text-danger">*</span></label>
                                <input class="form-control" id="filePath" name="filePath"  value="<%= datarow.filePath %>" required type="text">
                            </div>
                        </div>
                    </div>

                    <div class="form-row text-right">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <input class="btn btn-info" id="reset" type="button" value="重設">
                            <input class="btn btn-primary" type="submit" value="確定編輯">
                            <a class="btn btn-danger btn-md" href="/audioClassManage">取消</a>
                        </div>
                        <!-- Grid column -->
                    </div>

                    <input id="id" name="id" type="hidden" value="<%= datarow.id %>">
                </form> <!-- /form-->
            </div>
        </div>
    </main>
</body>

</html>
